.container{
	width:80%;
	max-width: 1000px;
	min-width:620px;
	margin:10px auto;
}
.rectangle{
	width:100px;
	height:100px;
	display: inline-block;
	margin: 10px;
}

h3{
	color:#fff;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 15px Arial;
	background-color: rgba(0,0,0,0.5);
}